* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: rgb(16, 14, 27);
  color: white;
  letter-spacing: 0.05em;
}

.App {
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
}

main > div {
  display: flex;
  padding: 2em;
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
}